i {  vertical-align: middle; }
.table-users tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}
.nav-user-photo {
     vertical-align: middle;
}
.user_panel {
    width: 70%;
}

.row {
    margin-top: 50px;
}

.row-tb {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.panel-default {
    margin: 0 auto;
}

